body {
  line-height: 1.5;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
 opacity: 0.7;
}
li {
  list-style: none;
}
.container {
  width: 98%;
  max-width: 980px;
  margin: 0 auto;
}
.inner {
  width: 98%;
  max-width: 800px;
  margin: 0 auto;
}
.section-title {
 text-align: center;
 font-size: 30px;
 padding: 20px 0;
}
.section-title:hover {
  color: orange;
}
.header-title {
  font-size: 30px;
}
.header-title a {
  color: red;
}
.header-title a:hover {
  color: green;
}

/*header*/
.header {
  display: flex;
  padding: 20px 0;
}
.header-right {
margin-left: auto;
}
.header-right-items {
  display: flex;
}
.header-right-item {
padding-left: 20px;
line-height: 45px;
color: orange;
}
.header-right-item:hover {
  color: purple;
}

/*top*/
.top {
  background-image: url(./img/top-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  text-align: center;
}
.top-title {
font-size: 50px;
font-weight: bold;
}
.top-title:hover {
  color: yellow;
  }
.top-text {
  font-size: 24px;
  color: blue;
}
.top-text:hover {
  color: #ff1493;
}

/*about*/
.about {
  padding: 100px 0;
}
.about-box {
  display: flex;
  padding-top: 30px;
}
.about-img {
  width: 45%;
}
.about-text-box {
  width: 45%;
  padding-left: 62px;
  font-size: 13px;
}
.about-title, .about2-title {
  font-size: 18px;
  font-weight: bold;
}
.about-title:hover, .about2-title:hover {
 color: red;
}

/*service*/
.service {
  background-color: #fff0f5;
  padding: 100px 0;
}
.service-items {
 display: flex;
 flex-wrap: wrap;
}
.service-item {
  flex-basis: 240px;
  margin: .5rem;
  border: 1px solid #000;
}
.service-img {
  border-radius: 28%;
}
.service-title {
 text-align: center;
 font-weight: bold;
}
.service-text {
  width: 93%;
  margin: 0 auto;
  font-size: 12px;
  line-height: 2;
}

/*work*/
.work {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #e6e6fa;
}
.work-list {
  display: flex;
  justify-content: space-between;
}
.work-item {
  width: 40%;
}
.work-item img {
 height: 409px;
}
/*contact*/
.contact {
  padding: 100px 0;
  background-color: #fff0f5;
}
.inner-inner {
 max-width: 400px;
 text-align: center;
  margin: 0 auto;
}
.section-title-text {
  padding: 10px 0;
}
.contact-box {
  display: flex;
}
.contact-box-img {
  padding: 0 90px;
}
.contact-box-img, .contact-box-img2 img {
 width: 80px;
 height: 80px;
}
.contact-text {
  font-size: 10px;
}